
<!--
    * @file         ApgEdr_Dev_TngResource_Status.html
    * @author       [APG] ANGELI Paolo Giusto
    * @requires     Tng.ApgTng_IPageData (V1.0)
    * @version      1.0.0 APG 20241105
                    1.0.1 APG 20241224 script data="ApgTng"
-->

<script data="ApgTng">
    const ApgEdr_Dev_TngResource_Status = {
        page: {
            data: {
                url: "",
                type: "",
                services: {
                    _name1: {},
                    _name2: {},
                },
                events: [
                    {
                        created: "",
                        time: "",
                        type: "",
                        module: "",
                        method: "",
                        message: ""
                    }
                ]
            }
        }
    }
</script>


<section>

    <script>
        function navigateToPage(atype) {
            const url = "<%page.data.url%>?type=" + atype;
            window.location.href = url;
            //alert(url);
        }
    </script>

    <select
      id="type"
      name="type"
      
      onchange="navigateToPage(this.value)"
    >
        <option value="">...</option>
        <% for (const service in page.data.services) { %>
        <% const selected = (service == page.data.type) ? " selected" : "" %>
        <option
          value="<% service %>"
          <% selected %>
        >
            <% page.data.services[service] %>
        </option>
        <% } %>
    </select>

    <table style="display: block; overflow-x: auto; overflow-y: auto; white-space: nowrap; max-height: 20rem;">
        <tr style="font-style: italic;">
            <th style="min-width: 4rem">Date</th>
            <th style="min-width: 4rem">Time</th>
            <th style="min-width: 4rem">Type</th>
            <th style="min-width: 10rem">Module</th>
            <th style="min-width: 10rem">Method</th>
            <th style="min-width: 20rem">Message</th>

        </tr>
        <% for (const event of page.data.events) { %>
        <tr>
            <td><% event.created.toISOString() %></td>
            <td><% event.time.toFixed(2) %></td>
            <td><% event.type %></td>
            <td><% event.module %></td>
            <td><% event.method %></td>
            <td><% event.message %></td>
        </tr>
        <% } %>
    </table>

</section>