
<!-- 
    * @file         ApgEdr_Dev_TngResource_Errors.html
    * @author       [APG] ANGELI Paolo Giusto
    * @requires     Tng.ApgTng_IPageData (V1.0)
    * @version      1.0.0 APG 20240813
                    1.0.1 APG 20241012
                    1.0.2 APG 20241224 script data="ApgTng"
-->

<script data="ApgTng">
    const ApgEdr_Dev_TngResource_Errors = {
        page: {
            data: {
                topMenu: [],
                errors: [
                    {
                        counter: 0,
                        href: "",
                        method: "",
                        route: "",
                        message: {
                            text: ""
                        }
                    }
                ]
            }
        }
    }
</script>



<section>

    <table style="display: block; overflow-x: auto; overflow-y: auto; white-space: nowrap; max-height: 20rem;">
        <tr>
            <th style="min-width: 4rem">Counter</th>
            <th style="min-width: 4rem">Method</th>
            <th style="min-width: 30rem">Url</th>
            <th style="min-width: 30rem">Message</th>

        </tr>
        <% for (const error of page.data.errors) { %>
        <% const counter = error.counter.toString().padStart(6,"0") %>
        <tr>
            <td>
                <a
                  href="<% error.href %>"
                  role="button"
                  style="padding: 0.1rem; line-height: 1rem;"
                >
                    <% counter %>
                </a>
            </td>
            <td><% error.method %></td>
            <td><% error.route %></td>
            <td><% error.message.text %></td>
        </tr>
        <% } %>
    </table>

</section>