
<!-- 
    * @file         ApgEdr_Dev_TngResource_Tng_Content.html
    * @author       [APG] ANGELI Paolo Giusto
    * @requires     Tng.ApgTng_IPageData (V1.0)
    * @version      1.0.0 APG 20240813
                    1.0.1 APG 20241224 script data="ApgTng"
-->

<script data="ApgTng">
    const ApgEdr_Dev_TngResource_Tng_Content = {
        page: {
            data: {
                topMenu,
                id: "",
                content: "",
                backLink: ""
            }
        }
    }
</script>


<section>

    <details
      id="File"
      open
    >
        <summary>
            <% page.data.id %>
        </summary>

        <pre>
            <code>
                <% page.data.content %>
            </code>
        </pre>

    </details>

    <br>
    <p style="text-align: right;">
        <a
          href="<% page.data.backLink %>"
          role="button"
        >Back</a>
    </p>

</section>