
<!--
    * @file         ApgEdr_Dev_TngResource_TDD_Suite.html
    * @author       [APG] ANGELI Paolo Giusto
    * @requires     Tng.ApgTng_IPageData (V1.0)
    * @version      1.0.0 20241124 
                    1.0.1 APG 20241224 script data="ApgTng"
-->

<script data="ApgTng">
    const ApgEdr_Dev_TngResource_TDD_Suite = {
        page: {
            data: {
                flags: [],
                action: ""
            },
            translations: {
                intro: ""
            }
        }
    }
</script>


<section>

    <p><% page.translations.intro %></p>

    <% partial("/partials/ApgEdr_TngPartial_TabularLinksMenu_01.html") %>

    <p>Flags</p>
    <ul>
        <% for (const flag in page.data.flags ) { %>
        <li><% flag %></li>
        <% } %>
    </ul>

    <form
      action="<% page.data.action %>"
      method="post"
    >
        <button type="submit">Run suite</button>
    </form>

</section>