<!-- 
  * @author         [APG] Angeli Paolo Giusto
  * @requires       Tng.ApgTng_IPageData (V1.0)
  * @version        1.0.0 20241124 
-->

<script>
    const tngDataTemplate = {
        page: {
            data: {
                flags: [],
                action: ""
            },
            translations: {
                intro: ""
            }
        }
    }
</script>


<section>

    <p><% page.translations.intro %></p>

    <% partial("/partials/ApgEdr_HtmlPagePartial_TabularLinksMenu.html") %>

    <p>Flags</p>
    <ul>
        <% for (const flag in page.data.flags ) { %>
        <li><% flag %></li>
        <% } %>
    </ul>

    <form
      action="<% page.data.action %>"
      method="post"
    >
        <button type="submit">Run suite</button>
    </form>

</section>