
<section>

    <h3>Details</h3>

    <table>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Counter
            </td>
            <td style="min-width: 30rem">
                <% const counter = page.data.counter.toString().padStart(6,"0") %>
                <% counter %>
            </td>
        </tr>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Received
            </td>
            <td>
                <% page.data.received %>
            </td>
        </tr>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Host
            </td>
            <td>
                <% page.data.remoteAddr.hostname %>: <% page.data.remoteAddr.port %>
            </td>
        </tr>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Method
            </td>
            <td>
                <% page.data.method %>
            </td>
        </tr>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Route
            </td>
            <td>
                <% page.data.route %>
            </td>
        </tr>
    </table>

    <br>

    <h3>Events</h3>

    <table style="display: block; overflow-x: auto; overflow-y: auto; white-space: nowrap; max-height: 20rem;">
        <tr style="font-style: italic;">
            <th style="min-width: 4rem">Type</th>
            <th style="min-width: 4rem">Time</th>
            <th style="min-width: 8rem">Module</th>
            <th style="min-width: 8rem">Method</th>
            <th style="min-width: 30rem">Message</th>

        </tr>
        <% for (const event of page.data.events) { %>
        <tr>
            <td><% event.type %></td>
            <td>
                <% const perf = event.time.toFixed(2).padStart(12, "0"); %>
                <% perf %>
            </td>
            <td><% event.module %></td>
            <td><% event.function.name %></td>
            <td><% event.message %></td>
        </tr>
        <% } %>
    </table>

    <br>
    <p style="text-align: right;">
        <a
          href="/Apg/Edr/Rsvd/Log#counter_<% counter %>"
          role="button"
        >Back to list</a>
    </p>

</section>