<section>
    <details id="Functions">
        <summary>
            Functions
        </summary>

        <% for (const func of page.data.functions){ %>
            <% const funcPathParm = encodeURIComponent(func) %>
        <p>
            <a href="/Edr/Rsvd/Tng/Function/${funcPathParm}">
                <% func %>
            </a>
        </p>
        <% } %>

    </details>


    <details id="Files">
        <summary>
            Files
        </summary>

        <% for (const file of page.data.files){ %>
            <% const filePathParm = encodeURIComponent(file) %>
        <p>
            <a href="/Edr/Rsvd/Tng/File/${filePathParm}">
                <% file %>
            </a>
        </p>
        <% } %>
09
    </details>

    <details id="Chunks">
        <summary>
            Chunks
        </summary>
    
        <% for (const chunk of page.data.chunks){ %>
        <p>
            <% chunk %>
        </p>
        <% } %>
    
    </details>


</section>