
<section>

    <p>Use the received One Time Password to log in</p>

    <form
      action="<% page.data.action %>"
      method="post"
    >
        <article>

            <label for="otp">One time password for user: <% page.data.email %></label>
            <input
              type="text"
              id="otp"
              name="otp"
              placeholder="otp"
              maxlength="6"
              minlength="6"
              pattern="[0-9]{6}"
              required
            >
            <input
              type="hidden"
              id="email"
              name="email"
              value="<% page.data.email %>"
            >

            <input
              type="submit"
              value="Login"
            >
        </article>

    </form>

    <p>
        If you haven't received the One Time Password check your email address or your spam folder.
        <a
          href="<% page.data.requestNewOtpLink %>"
          role="button"
        >Request new</a>
    </p>


</section>