
<section>

    <table style="display: block; overflow-x: auto; overflow-y: auto; white-space: nowrap; max-height: 20rem;">
        <tr>
            <th style="min-width: 4rem">Counter</th>
            <th style="min-width: 4rem">Method</th>
            <th style="min-width: 30rem">Url</th>
            <th style="min-width: 30rem">Message</th>

        </tr>
        <% for (const error of page.data) { %>
            <% const counter = error.counter.toString().padStart(6,"0") %>
        <tr>
            <td>
                <a
                  href="/Apg/Edr/Rsvd/Log/Entry/<% error.counter %>"
                  role="button"
                  style="padding: 0.1rem; line-height: 1rem;"
                >
                    <% counter %>
                </a>
            </td>
            <td><% error.method %></td>
            <td><% error.url %></td>
            <td><% error.message %></td>
        </tr>
        <% } %>
    </table>

</section>