<!-- 
  * ---------------------------------------------------------------------------
  * @module 
      [ApgEdr/srv/templates/partials]
  * @file
      [ApgEdr_HtmlPagePartial_TopMenu]
  * @author
      [APG] Angeli Paolo Giusto
  * @description 
      Horizontal right aligned menu
  * @requires
      Tng.ApgTng_IPageData (V1.0)
  * @params
      page.data.links: {Tng.ApgTng_IHyperlink[]}
  * @version
      1.0 20241126
  * ---------------------------------------------------------------------------- 
-->

<% if(page.data.topMenu) { %>
<section style="margin-bottom: 0px; padding-bottom: 0px;">

    <p style="text-align: right; margin-bottom: 0px;">

        <% for(const link of page.data.topMenu) { %>
        <a
          href="<% link.url %>"
          role="button"
          title="<% link.title %>"
        ><% link.label %></a>
        <% } %>

    </p>
    <% } %>
</section>