<h1>
    Funzionalità del servizio EDR
</h1>

Enhanced Drash Resources

E' un framework per la realizzazione di microservizi compatibili con Deno Deploy.

E' dotato di una serie di funzionalità di base che possono essere utili in molteplici situazoioni

Le funzionalità di base sono:

<ul>
    <li>Template engine per creazione server side di HTML dinamico</li>
    <li>Rest API per invio di documenti JSON</li>
    <li>Gestione log attività in memoria integrato</li>
    <li>Interfacciamento ad una Web API (Resend) per l'invio di messaggi EMAIL</li>
    <li>Interfacciamento a un Database MongoDB</li>
    <li>Gestione telemetria su MongoDB</li>
    <li>Gestione della autenticazione utente mediante OTP e JWT</li>
    <li>Gestione utenti e relativa getione dei permessi</li>
    <li>Gestione invio email di richieste di supporto</li>
    <li>Esecuzione interattiva degli unit test e analisi dei risultati</li>
    <li>Gestione delle user story, del backlog e delle attività di sviluppo</li>
</ul>