
<!--
    * @file         ApgEdr_TngPartial_About_IT.html
    * @author       [APG] ANGELI Paolo Giusto
    * @requires     Tng.ApgTng_IPageData (V1.0)
    * @version      1.0.0 APG 20241126
                    1.0.1 APG 20241224 script data="ApgTng"
-->

<script data="ApgTng">
    const ApgEdr_TngPartial_About_IT = {
        page: {
            data: {
            }
        }
    }
</script>


<div style="text-align: justify;">
    <h2>
        EDR
    </h2>

    <h4>Enhanced Drash Resources</h4>

    <p>
        E' un framework per la realizzazione di microservizi e siti web compatibili con Deno Deploy.
    </p>

    <p>
        E' dotato di una serie di funzionalità di base che possono essere utili in molteplici situazioni.<br>
        Questo sito viene utilizzato per sviluppare e testare le seguenti funzionalità:
    </p>

    <ul>
        <li>Template engine per creazione di HTML dinamico lato server</li>
        <li>Gestione di asset tramite CDN (Bunny.net)</li>
        <li>Predisposizione per gestione pagine multilingua</li>
        <li>Risorse JSON per gestione Rest API</li>
        <li>Gestione registro chiamate in memoria integrato</li>
        <li>Invio messaggi email tramite Web API (Resend)</li>
        <li>Persistenza dei dati su Database MongoDB</li>
        <li>Gestione telemetria su MongoDB</li>
        <li>Monitoraggio servizi di sistema tramite logger dedicati</li>
        <li>Gestione della autenticazione utente mediante OTP e JWT</li>
        <li>Gestione utenti e relativa getione dei permessi di accesso alle risorse</li>
        <li>Gestione invio email di richieste di supporto</li>
        <li>Esecuzione interattiva degli unit test e analisi dei risultati</li>
        <li>Gestione delle user story, del backlog e delle attività di sviluppo</li>
    </ul>
</div>

<!-- /Partial -------------------------------------------------------------- -->