
<!-- 
    * @file         ApgEdr_TngPartial_About_EN.html
    * @author       [APG] ANGELI Paolo Giusto
    * @requires     Tng.ApgTng_IPageData (V1.0)
    * @version      1.0.0 APG 20241126
                    1.0.1 APG 20241224 script data="ApgTng"
-->

<script data="ApgTng">
    const ApgEdr_TngPartial_About_EN = {
        page: {
            data: {
            }
        }
    }
</script>


<div style="text-align: justify;">
    <h2>
        EDR
    </h2>

    <h4>Enhanced Drash Resources</h4>

    <p>
        It is a framework for creating microservices and web sites compatible with Deno Deploy.
    </p>

    <p>
        It is equipped with a series of basic features that can be useful in many situations.<br>
        This website is used to develop and test the following features:
    </p>

    <ul>
        <li>Template engine for server-side creation of dynamic HTML</li>
        <li>Assets management via CDN (Bunny.net)</li>
        <li>Predisposition for management of multilingual pages</li>
        <li>JSON resources for Rest API management</li>
        <li>Management of call logs in memory integrated</li>
        <li>Send email messages through Web API (Resend)</li>
        <li>Data persistance on Database MongoDB</li>
        <li>Telemetry on MongoDB</li>
        <li>System services monitoring through dedicated loggers</li>
        <li>Authentication user management through OTP and JWT</li>
        <li>User management and management of access permissions to resources</li>
        <li>Management of emails for support requests</li>
        <li>Interactive execution of unit tests and analysis of results</li>
        <li>Management of user stories, backlog and development activities</li>
    </ul>
</div>

<!-- /Partial -------------------------------------------------------------- -->