<!-- 
  * ---------------------------------------------------------------------------
  * @module 
      [ApgEdr/srv/templates/partials]
  * @file
      [ApgTng_HtmlPagePartial_TabularLinksMenu]
  * @author
      [APG] Angeli Paolo Giusto
  * @description 
      Tabular links menu partial
  * @requires
      Tng.ApgTng_IPageData (V1.0)
  * @params
      page.data.links: {Tng.ApgTng_IHyperlink[]}
  * @version
      1.0 20240701
      1.1 20240731
      1.2 20240814 Styles
  * ---------------------------------------------------------------------------- 
-->
