<!-- 
  * ---------------------------------------------------------------------------
  * @module 
      [ApgEdr/srv/templates/pages/reserved]
  * @file 
      [ApgEdr_HtmlPageTemplate_Logout_01] [bunny.net]
  * @author
      [APG] Angeli Paolo Giusto
  * @description 
      Page to get the logout
  * @requires
      Tng.ApgTng_IPageData (V1.0)
  * @version
      1.0.0 APG 20240813
  * ---------------------------------------------------------------------------- 
-->

<section>

    <p style="text-align: center; padding-top: 8rem; padding-bottom:8rem;">
        The user has logged out.
    </p>


    <p style="text-align: right;">
        <a href="<% page.data.okLink %>" role="button" style="width: 6rem;">Ok</a>
    </p>


</section>