<!-- 
  * @author         [APG] Angeli Paolo Giusto
  * @requires       Tng.ApgTng_IPageData (V1.0)
  * @version        1.0.0 APG 20240813
-->

<script>
    const tngDataTemplate = {
        page: {
            data: {
                okLink: "",
            },
            translations: {
                GET_Message: "",
            }
        }
    }
</script>


<section>

    <p style="text-align: center; padding-top: 8rem; padding-bottom:8rem;">
        <% page.translations.GET_Message %>.
    </p>


    <p style="text-align: right;">
        <a
          href="<% page.data.okLink %>"
          role="button"
          style="width: 6rem;"
        >Ok</a>
    </p>


</section>