
<!-- 
    * @file         ApgEdr_TngResource_RequestOtp_POST.html
    * @author       [APG] ANGELI Paolo Giusto
    * @requires     Tng.ApgTng_IPageData (V1.0)
    * @version      1.0.0 APG 20240813
                    1.0.1 APG 20241015 Improved text and translations
                    1.0.2 APG 20241224 script data="ApgTng"
-->

<script data="ApgTng">
    const ApgEdr_TngResource_RequestOtp_POST = {
        page: {
            data: {
                action: "",
                email: "",
                requestNewOtpLink: "",
                requestSupportLink: ""
            },
            translations: {
                POST_P1: "",
                POST_P2: "",
                POST_P3: "",
                POST_P4: "",
                POST_P5: "",
                POST_Button_NewOtp: "",
                POST_Button_Support: ""
            }
        }
    }
</script>


<section>

    <p><% page.translations.POST_P1 %>. <% page.translations.POST_P2 %></p>
    <p><% page.translations.POST_P3 %></p>

    <form
      action="<% page.data.action %>"
      method="post"
    >
        <article>
            <input
              type="text"
              id="otp"
              name="otp"
              placeholder="000000"
              maxlength="6"
              minlength="6"
              pattern="[0-9]{6}"
              required
            >
            <input
              type="hidden"
              id="email"
              name="email"
              value="<% page.data.email %>"
            >

            <input
              type="submit"
              value="Login"
            >
        </article>

    </form>

    <p><% page.translations.POST_P4 %>
        <a href="<% page.data.requestNewOtpLink %>"><% page.translations.POST_Button_NewOtp %></a>
    </p>
    <p><% page.translations.POST_P5 %>
        <a href="<% page.data.requestSupportLink %>"><% page.translations.POST_Button_Support %></a>
    </p>


</section>