<!-- 
  * @author         [APG] Angeli Paolo Giusto
  * @requires       Tng.ApgTng_IPageData (V1.0)
  * @version        1.0.0 APG 20241114
-->

<section>

    <form
      action="<% page.data.action %>"
      method="post"
    >

        <p>
            <label for="email"><% page.translations['GET_Email_Label'] %></label>
            <input
              type="email"
              id="email"
              name="email"
              required
            >
        </p>

        <p>
            <label for="message"><% page.translations['GET_Message_Label'] %></label>
            <textarea
              id="message"
              name="message"
              maxlength="500"
              rows="5"
              required
            ></textarea>
        </p>

        <p style="text-align: right;">
            <input
              type="submit"
              value="<% page.translations['GET_Ok_Button'] %>"
              style="width: fit-content;"
            >
            <input
              type="reset"
              value="<% page.translations['GET_Cancel_Button'] %>"
              style="width: fit-content;"
              onclick="window.history.back()"
            >
        </p>
    </form>


</section>