
<!-- 
    * @file         ApgEdr_TngResource_RequestOtp.html
    * @author       [APG] ANGELI Paolo Giusto
    * @requires     Tng.ApgTng_IPageData (V1.0)
    * @version      1.0.0 APG 20240813
                    1.0.1 APG 20241016 Better text and translations
                    1.0.2 APG 20241224 script data="ApgTng"
-->

<script data="ApgTng">
    const ApgEdr_TngResource_RequestOtp = {
        page: {
            data: {
                action: "",
            },
            translations: {
                GET_P1: "",
                GET_Submit: "",
            }
        }
    }
</script>


<section>


    <form
      action="<% page.data.action %>"
      method="post"
    >

        <label for="email"><% page.translations.GET_P1 %></label>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="E-mail"
        >

        <input
          type="submit"
          value="<% page.translations.GET_Submit %>"
        >

    </form>


</section>