<!-- 
  * @author         [APG] Angeli Paolo Giusto
  * @requires       Tng.ApgTng_IPageData (V1.0)
  * @version        1.0.0 20240701
                    1.0.1 20240731
                    1.0.2 20240814 Fancy styles
                    1.0.3 20241108 Generalized version
                    1.0.4 20241207 Use Partial
-->
<link
  rel="stylesheet"
  href="/assets/css/ApgEdr_Pico_Custom_Fancy_V01.css"
>


<section>

    <% partial("/partials/ApgEdr_HtmlPagePartial_TabularLinksMenu.html") %>

</section>