<!-- 
  * ---------------------------------------------------------------------------
  * @module 
      [ApgEdr/srv/templates/pages/reserved/admin]
  * @file 
      [ApgEdr_ReservedHtmlPageTemplate_Log_List_01] [bunny.net]
  * @author
      [APG] Angeli Paolo Giusto
  * @description 
      List the calls since the last microservice restart
  * @requires
      Tng.ApgTng_IPageData (V1.0)
  * @version
      1.0.0 APG 20240813
  * ---------------------------------------------------------------------------- 
-->

<section>

    <table style="display: block; overflow-x: auto; overflow-y: auto; white-space: nowrap; max-height: 20rem;">
        <tr>
            <th style="min-width: 4rem">Counter</th>
            <th style="min-width: 4rem">Received</th>
            <th style="min-width: 10rem">Host</th>
            <th style="min-width: 4rem">Method</th>
            <th style="min-width: 30rem">Url</th>
            <th style="min-width: 5rem">ms</th>
            <th style="min-width: 5rem">MB</th>

        </tr>
        <% for (const request of page.data.requests) { %>
        <tr>
            <td>
                <a
                  href="<% page.data.entryRoute %>/<% request.counter %>"
                  role="button"
                  style="padding: 0.1rem; line-height: 1rem;"
                >
                    <% const counter = request.counter.toString().padStart(6,"0") %>
                    <% counter %>
                </a>
                <a id="counter_<% counter %>"></a>
            </td>
            <td><% request.received %></td>
            <td><% request.remoteAddr.hostname %></td>
            <td><% request.method %></td>
            <td><% request.route %></td>
            <td>
                <% const totalTime = request.totalTime.toFixed(2) %>
                <% totalTime %>
            </td>
            <td><% request.endMemory %></td>
        </tr>
        <% } %>
    </table>

</section>