<!-- 
  * ---------------------------------------------------------------------------
  * @module 
      [ApgEdr/srv/templates/pages/reserved/admin]
  * @file 
      [ApgEdr_ReservedHtmlPageTemplate_Log_Entry_01] [bunny.net]
  * @author
      [APG] Angeli Paolo Giusto
  * @description 
      Show details of the call to the microservice
  * @requires
      Tng.ApgTng_IPageData (V1.0)
  * @version
      1.0.0 APG 20240813
  * ---------------------------------------------------------------------------- 
-->

<section>

    <h3>Details</h3>

    <table>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Telemetry Id
            </td>
            <td>
                <% page.data.request.telemetryId %>
            </td>
        </tr>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Deployment
            </td>
            <td>
                <% page.data.request.deployment %>
            </td>
        </tr>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Counter
            </td>
            <td style="min-width: 30rem">
                <% const counter = page.data.request.counter.toString().padStart(6,"0") %>
                <% counter %>
            </td>
        </tr>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Received
            </td>
            <td>
                <% page.data.request.received %>
            </td>
        </tr>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Client
            </td>
            <td>
                <% page.data.request.client.hostname %>: <% page.data.request.client.port %>
            </td>
        </tr>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Method
            </td>
            <td>
                <% page.data.request.method %>
            </td>
        </tr>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Route
            </td>
            <td>
                <% page.data.request.route %>
            </td>
        </tr>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Language
            </td>
            <td>
                <% page.data.request.language %>
            </td>
        </tr>


        <% if (page.data.request.auth) { %>
        <% const auth = page.data.request.auth; %>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                JWT Auth
            </td>
            <td>
                Session: <% auth.session %> <br>
                User: <% auth.email %> <br>
                Role: <% auth.role %>
            </td>
        </tr>
        <% } %>

        <% if (page.data.request.message) { %>
        <% const msg = page.data.request.message; %>
        <tr>
            <td style="min-width: 6rem; font-style: italic;">
                Message
            </td>
            <td>
                Title: <% msg.title %> <br>
                Text: <% msg.text %> <br>
                Next: <% msg.next %>
            </td>
        </tr>
        <% } %>
    </table>

    <br>

    <h3>Events</h3>

    <table style="display: block; overflow-x: auto; overflow-y: auto; white-space: nowrap; max-height: 20rem;">
        <tr style="font-style: italic;">
            <th style="min-width: 4rem">Type</th>
            <th style="min-width: 4rem">Time</th>
            <th style="min-width: 8rem">Module</th>
            <th style="min-width: 8rem">Method</th>
            <th style="min-width: 30rem">Message</th>

        </tr>
        <% for (const event of page.data.request.events) { %>
        <tr>
            <td><% event.type %></td>
            <td>
                <% const perf = event.time.toFixed(2).padStart(12, "0"); %>
                <% perf %>
            </td>
            <td><% event.module %></td>
            <td><% event.function.name %></td>
            <td><% event.message %></td>
        </tr>
        <% } %>
    </table>

    <br>
    <p style="text-align: right;">
        <a
          href="<% page.data.logRoute %>#counter_<% counter %>"
          role="button"
        >Back to list</a>
    </p>

</section>