<!-- 
  * ---------------------------------------------------------------------------
  * @module 
      [ApgEdr/srv/templates/pages/reserved/admin]
  * @file 
      [ApgEdr_ReservedHtmlPageTemplate_Status_01] [bunny.net]
  * @author
      [APG] Angeli Paolo Giusto
  * @description 
      List the user stories by domain
  * @requires
      Tng.ApgTng_IPageData (V1.0)
  * @version
      1.0.0 APG 20241105
  * ---------------------------------------------------------------------------- 
-->

<section>

    <script>
        function navigateToPage(atype) {
            const url = "<%page.data.url%>?type=" + atype;
            window.location.href = url;
            //alert(url);
        }
    </script>

    <select
      id="type"
      name="type"
      style="padding: 0.1rem; line-height: 1rem;"
      onchange="navigateToPage(this.value)"
    >
        <option value="">...</option>
        <% for (const service in page.data.services) { %>
        <% const selected = (service == page.data.type) ? " selected" : "" %>
        <option value="<% service %>" <% selected %>>
            <% page.data.services[service] %>
        </option>
        <% } %>
    </select>

    <table style="display: block; overflow-x: auto; overflow-y: auto; white-space: nowrap; max-height: 20rem;">
        <tr>
            <th style="min-width: 4rem">Date</th>
            <th style="min-width: 4rem">time</th>
            <th style="min-width: 4rem">type</th>
            <th style="min-width: 10rem">module</th>
            <th style="min-width: 10rem">method</th>
            <th style="min-width: 20rem">message</th>

        </tr>
        <% for (const event of page.data.events) { %>
        <tr>
            <td><% event.created.toISOString() %></td>
            <td><% event.time.toFixed(2) %></td>
            <td><% event.type %></td>
            <td><% event.module %></td>
            <td><% event.method %></td>
            <td><% event.message %></td>
        </tr>
        <% } %>
    </table>

</section>