<!-- 
  * ---------------------------------------------------------------------------
  * @module 
      [ApgEdr/srv/templates/pages/reserved/admin]
  * @file 
      [ApgEdr_ReservedHtmlPageTemplate_Environment_01] [bunny.net]
  * @author
      [APG] Angeli Paolo Giusto
  * @description 
      Page to set Edr environment variables
  * @requires
      Tng.ApgTng_IPageData (V1.0)
  * @version
      1.0.0 APG 20240813
  * ---------------------------------------------------------------------------- 
-->

<section>

  <form
    action="<% page.data.action %>"
    method="post"
  >

    <p>
      <label for="env">Environment</label>
      <% page.components.selectEnv %>
    </p>

    <p>
      <label for="useCdn">Use CDN</label>
      <input
        type="checkbox"
        id="useCdn"
        name="useCdn"
        <% page.data.useCdn %>
      >
    </p>

    <p>
      <label for="useTngCache">Use Tng Cache</label>
      <input
        type="checkbox"
        id="useTngCache"
        name="useTngCache"
        <% page.data.useTngCache %>
      >
    </p>

    <p style="text-align: right;">
      <input
        type="submit"
        value="Ok"
      >
    </p>

  </form>


</section>